 @{
    ViewData["Title"] = "Blocked Login";
}
 
<div class="jumbotron">
        <h1 class="display-4">You are be Blocked !!!!!!!!!!!!!!!</h1>
        <p class="lead">Plesase Contect with the Admin</p>
        <hr class="my-4">
        <div>
            <a asp-action="Login">Back to Login page</a>
        </div>
    </div>